<% breadcrumb :intro %>
<section id="intro">
  <div class="row">
    <h1 class="col-12 page-title"><%=t(:service_name) %></h1>
    <p class="col-12 page-description">
    <%=t(:intro_description) %>
    <p>
  </div>
  <div class="row">
    <article class="col-12 col-lg-6">
      <dl>
        <dt><%=t(:company_since) %></dt>
        <dd>2020. 11. 06</dd>
        <dt><%=t(:president) %></dt>
        <dd><%=t(:sleepinglion) %></dd>
        </dl>
    </article>
    <article class="col-12 col-lg-6">
      <p><%=t(:company_description) %></p>
    </article>
  </div>
</section>