<% breadcrumb :programs %>
<div id="intro">
  <section class="row">
    <h1 class="col-12 no-display-title"><%= t(:intro_program) %></h1>
    <p class="col-12 page-description">
      제대로웹 프로그램들
    </p>
  </section>
  <section class="row">
    <% @programs.each do |program| %>
      <div class="col-12">
      <article class="media rounded p-3 mb-3">
        <h2><%=link_to program_path(program.id) do %><%=program.title %><% end %></h2>
        <p><%=link_to program_path(program.id) do %><%=raw program.description %><% end %>
        </p>
        <% unless program.program_pictures_count.zero? %>
          <ul class="row">
            <% program.program_pictures.each do |program_picture| %>
              <li class="col-6 col-lg-4 col-xxl-3" style="padding:30px">
                  <figure>
                    <%=image_tag program_picture.picture.small_thumb.url,class: 'figure-img img-fluid'  %>
                  </figure>
              </li>
            <% end %>
          </ul>
        <% end %>

        <dl>
          <% @program_link_category.each do |program_link_category| %>
            <% program.program_links.each do |program_link| %>
              <% if program_link.program_link_category_id==program_link_category.id %>
          <dt><%=link_to program_link.title,program_link.link, target: "_blank" %></dt>
                <% end %>
            <% end %>
          <% end %>
        </dl>
      </article>
      </div>
    <% end %>
  </section>
</div>