<section class="row">
  <div class="col-12">

  </div>
</section>
  <section class="row">
    <article id="program-free" class="col-12">
      <h2><%=raw t(:home_title1) %></h2>
      <p><%=raw t(:home_description1) %></p>
    </article>
    <article id="program-open" class="col-12">
      <h2><%= raw t(:home_title2) %></h2>
      <p><%=raw t(:home_description2) %></p>
    </article>
    <article id="program-open" class="col-12">
      <h2><%=raw t(:home_title3) %></h2>
      <p><%=raw t(:home_description3) %></p>
    </article>
  </section>