<section class="row">
  <div class="col-12">

    <div id="carouselExample"
         class="carousel slide"
         data-bs-touch="true"
         data-bs-ride="carousel">

      <div class="carousel-inner">

        <% @slides.each_with_index do |slide,index| %>

          <div class="carousel-item <%= 'active' if index.zero? %>">

            <%= link_to program_path(id: slide.id) do %>
              <%= image_tag slide.program_pictures[0].picture.large_thumb.url,
                            class: "d-block w-100 img-fluid" %>
            <% end %>

            <div class="carousel-caption">
              <h5>
                <%= link_to slide.title, program_path(id: slide.id) %>
              </h5>

              <% if slide.description.present? %>
                <p><%= raw slide.description %></p>
              <% end %>
            </div>

          </div>

        <% end %>

      </div>
      <div class="carousel-indicators">
        <% @slides.each_with_index do |slide,index| %>
          <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="<%=index %>" <% if index.zero? %>class="active" aria-current="true"<% end %> aria-label="Slide <%=index %>"></button>
        <% end %>
      </div>
      <button class="carousel-control-prev d-none d-md-flex"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>

      <button class="carousel-control-next d-none d-md-flex"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>

    </div>

  </div>
</section>
  <section class="row">
    <article id="program-free" class="col-12">
      <h2><%=raw t(:home_title1) %></h2>
      <p><%=raw t(:home_description1) %></p>
    </article>
    <article id="program-open" class="col-12">
      <h2><%= raw t(:home_title2) %></h2>
      <p><%=raw t(:home_description2) %></p>
    </article>
    <article>

    </article>
    <article id="program-open" class="col-12">
      <h2><%=raw t(:home_title3) %></h2>
      <p><%=raw t(:home_description3) %></p>
    </article>
  </section>