<% breadcrumb :orders %>
<section class="row">
  <% if @product_categories %>
  <% @product_categories.each do |product_category| %>
    <article class="col-12">
      <div class="media mt-3 p-3 rounded-2">
        <h3><%=link_to product_category.title,orders_path({product_category: product_category}) %></h3>
        <p><%=simple_format(product_category.product_category_content.content) %></p>
      </div>
    </article>
  <% end %>
  <% end %>

  <% if @products %>
  <% @products.each do |product| %>
    <article class="col-12">
      <div class="media mt-3 p-3 rounded-2">
        <h3><%=link_to product.title,new_order_path({product: product}) %></h3>
        <p><%= product.description %></p>
        <p><%= product.price %></p>
      </div>
    </article>
  <% end %>
  <% end %>
</section>