<% breadcrumb :orders %>
<section class="row">
  <% if @product_categories.present? %>
    <% @product_categories.each do |product_category| %>
      <article class="col-12"  data-controller="click-redirect" data-action="click->click-redirect#mediaClick">
        <div class="media mt-3 p-3 rounded-2">
          <h3><%=link_to product_category.title,orders_path({product_category: product_category}) %></h3>
          <p><%=simple_format(product_category.product_category_content.content) %></p>
        </div>
      </article>
    <% end %>
  <% end %>

  <% if @products.present? %>
      <%= render partial: 'products/product', locals: { product: @products } %>
  <% end %>

  <% if @product.present? %>
    <%= render 'products/show' %>
  <% end %>
</section>
<% if @product_categories.present? %>
<% content_for :json_ld do %>
  <script type="application/ld+json">
    <%= raw(JSON.pretty_generate(json_ld_for_product_categories(@product_categories))) %>
  </script>
<% end %>
<% end %>
<% if @products.present? %>
  <% content_for :json_ld do %>
    <script type="application/ld+json">
      <%= raw(JSON.pretty_generate(json_ld_for_products(@products))) %>
    </script>
  <% end %>
<% end %>
<% if @product.present? %>
  <% content_for :json_ld do %>
    <script type="application/ld+json">
      <%= raw(JSON.pretty_generate(json_ld_for_product(@product))) %>
    </script>
  <% end %>
<% end %>